# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace':
    { 'label': 'Enable img-placeholder', 'command': 'img-placeholder:toggle' }

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'img-placeholder'
      'submenu': [
        { 'label': 'Toggle', 'command': 'img-placeholder:toggle' }
      ]
    ]
  }
]
